* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-image: url(../asserts/images/blog-image-workplace-orientation-01.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-size: 1150px 680px;
    font-family: serif;
    margin-top: 40px;
    color: white;
}

.employeeform {
    text-align: left;
    padding-top: 20px;
    padding-left: 30px;
}

.btrn {
    padding-top: 15px;
}

.cin {
    float: right;
    border: 1px solid rgb(253, 251, 251);
    border-radius: 5px;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    margin-right: 10px;
    background-color: #abb7bb!important;
}

#viewData {
    margin-left: 25px;
}

.fname {
    margin-right: 75px;
}

#exampleData {
    margin-top: 25px;
}